@use "../../mixins/" as *;
@use "../../presets/" as *;

.header {
  display: grid;
  align-content: center;
  background-color: $color-primary;
  color: $color-light;
  background: url(../img/img-header.png);
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 150px 0;
}
